
<h2>TCTP2 Log parser</h2>

Here you can paste text, that contains complete telegram. <br>
Rest of the text will be ignored and telegram will be displayed in a table:<br>
<textarea rows="5" cols="115" ng-model="telegramString" ng-change="parse()">
</textarea>
<br>

<table class="table table-hover table-condensed table-bordered">
        <tr>
            <td ng-repeat="field in telegramObject"> {{field.name}} [{{field.length}}]</td>
        </tr>
    <tr>
        <td  ng-repeat="field in telegramObject">{{field.value}}</td>
    </tr>
</table>

Here you can paste part of log that contains multiple telegrams. <br>
Text will be filtered and only telegrams will be displayed. <br>
You can than copy single telegram and paste it in the upper input box: <br>
After pasteing the text, press the blue [Parse it] button below.
<textarea rows="5" cols="115" ng-model="logText" class="telegram-text">
</textarea>
<br>


<input type="button" ng-click="parseLog()" class="btn btn-primary" value="Parse it">
        <br>

    <div ng-file-drop="onFileSelect($files)" class="alert form-group well col-sm-5" ng-file-drag-over-class="alert-success" ng-show="dropSupported">Drag and drop log file to be parsed</div>
    <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 Drop File is not supported!</div>

<br>
<br>
<hr>
<div class="row">
    <div class="col-md-1 col-md-offset-5">
        <label>Happy hunting!</label>
    </div>
</div>

